
<router-outlet></router-outlet>

<header>
  <div class="menu-content">

    <h1 class="logo"> BYRATOUR </h1>
    <nav class="navbar">
      <ul class="list-itens">
        <li><a href=""> HOME </a></li>
        <li> <a routerLink="/src/app/sobre/sobre.component.html"> SOBRE </a></li>
        <li><a href="https://github.com/oiDreas" target="_blank"> <i class="fa-brands fa-github"></i> </a></li>
      </ul>
    </nav> <!-- FIM NAVBAR -->

  </div> <!-- FIM MENU-CONTENT -->
</header>

<main>

  <!-- CARD UM -->
  <div class="card">
    <img src="../assets/missao-.jpg" alt="" class="img-card-1">
    <div class="card-body">
      <h5 class="card-title"> Missao </h5>
      <p class="card-text">Proporcionar experiências cativantes para os usuários, provendo informações, usabilidade e serviços turísticos que impactam diretamente no divertimento e satisfação do cliente.</p>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
  </div>


  <!-- CARD DOIS -->
  <div class="card" >
    <img src="../assets//35885.jpg" alt="" class="img-card-2">
    <div class="card-body">
      <h5 class="card-title"> Visao </h5>
      <p class="card-text"> Ser a principal solução turística visando sempre o respeito ao cliente e, em primeiro lugar, a paixão pelas nossas culturas e espaços. </p>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
  </div>


  <!-- CARD TRES -->
  <div class="card">
    <img src="../assets/Pombito-2.0.png" alt="" class="img-card">
    <div class="card-body">
      <h5 class="card-title"> Valores </h5>
      <p class="card-text">Respeito a cultura; Cliente em primeiro lugar; Apreciação ao turismo; Facilidade de uso; utilização leve e divertida.</p>
      <!-- <a href="#" class="btn btn-primary"></a> -->
    </div>
  </div>

</main>
